.demo {
    text-align: justify;
    margin-bottom: 30px;
}

.body {
    background: url("../../assets/images/landscape.png") no-repeat;
    position: absolute;
    height: 100%;
    z-index: 1;
    top: 0;
    width: 100%;
}

.contactForm {
    margin-top: 200px;
    margin-right: 200px;
    width: 700px;
  }
  
  @media (min-width: 1200px) and (max-width: 1366px) {
    .body {
      top: -100px !important;
      min-height: 48em;
    }
    .contactForm {
      width: 480px;
      margin-right: 50px;
      margin-top: 218px;
    }
  }